# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Environment
# ======================
.env
venv/
env/
.venv/

# ======================
# Upload File (JANGAN DIUPLOAD)
# ======================
uploads/

# ======================
# Data Sementara (optional)
# ======================
*.log
*.tmp

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE / Editor
# ======================
.vscode/
.idea/

# ======================
# Streamlit cache
# ======================
.streamlit/